@import "tailwindcss";

:root {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0f172a;
  background: #eef1f6;
  --lead-panel-sidebar-width: 256px;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}